{% load static %}

<!-- Start Header -->
    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="index.html"><img src="{% static 'assets/images/logo/logo-white.png' %}" alt="nft-logo"></a>
                        <a class="logo-dark" href="index.html"><img src="{% static 'assets/images/logo/logo-dark.png' %}`"
                                                                    alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu">
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="index.html">صفحه اصلی</a>
                                    <ul class="submenu">
                                        <li><a href="index.html">صفحه اصلی - 01 <i class="feather-home"></i></a></li>
                                        <li><a href="index-two.html">صفحه اصلی - 02<i class="feather-home"></i></a></li>
                                        <li><a href="index-three.html">صفحه اصلی - 03<i class="feather-home"></i></a></li>
                                        <li><a href="index-four.html">صفحه اصلی - 04<i class="feather-home"></i></a></li>
                                        <li><a href="index-five.html">صفحه اصلی - 05<i class="feather-home"></i></a></li>
                                        <li><a href="index-six.html">صفحه اصلی - 06<i class="feather-home"></i></a></li>
                                        <li><a href="index-seven.html">صفحه اصلی - 07<i class="feather-home"></i></a></li>
                                        <li><a href="index-eight.html">صفحه اصلی - 08<i class="feather-home"></i></a></li>
                                        <li><a href="index-nine.html">صفحه اصلی - 09<i class="feather-home"></i></a></li>
                                        <li><a href="index-ten.html">صفحه اصلی - 10<i class="feather-home"></i></a></li>
                                        <li><a href="index-eleven.html">صفحه اصلی - 11<i class="feather-home"></i></a></li>
                                        <li><a href="index-twelve.html">صفحه اصلی - 12<i class="feather-home"></i></a></li>
                                        <li><a href="index-thirteen.html">صفحه اصلی - 13<i class="feather-home"></i></a>
                                        </li>
                                        <li><a href="index-fourteen.html">صفحه اصلی - 14<i class="feather-home"></i></a>
                                        </li>
                                        <li><a href="index-fifteen.html">صفحه اصلی - 15<i class="feather-home"></i></a></li>
                                        <li><a href="index-sixteen.html">صفحه اصلی - 16<i class="feather-home"></i></a></li>
                                        <li><a href="index-seventeen.html">صفحه اصلی - 17<i class="feather-home"></i></a>
                                        </li>
                                        <li><a href="index-eighteen.html">صفحه اصلی - 18<i class="feather-home"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">درباره</a>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="#">مثال</a>
                                    <ul class="submenu">
                                        <li><a href="explore-one.html">مثال فیلتر<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-two.html">مثال ایزوتوب<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-three.html">مثال اسلایدر<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-four.html">مثال ساده<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-five.html">مثال پیشنهاد مکان<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-six.html">پیشنهاد با فیلتر<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-seven.html">پیشنهاد با ایزوتوپ<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-eight.html">پیشنهاد با اسلایدر<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-style.html">کاوش فهرست سبک<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-column-two.html">مثال فهرست دو ستون<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-left-filter.html">مثال فیلتر چپ<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a class="live-expo" href="explore-live.html">کاوش زنده</a></li>
                                        <li><a class="live-expo" href="explore-live-two.html">چرخ فلک کاوش زنده</a></li>
                                        <li><a class="live-expo" href="explore-live-three.html">درخواست زنده</a></li>
                                    </ul>
                                </li>
                                <li class="with-megamenu">
                                    <a href="#">صفحات</a>
                                    <div class="rn-megamenu">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li>
                                                            <a href="create.html">ایجاد NFT<i data-feather="file-plus"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="upload-variants.html">نوع آپلود<i
                                                                    data-feather="layers"></i></a>
                                                        </li>
                                                        <li><a href="activity.html">فعالیت<i data-feather="activity"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="creator.html">سازندگان<i data-feather="users"></i></a>
                                                        </li>
                                                        <li><a href="collection.html">مجموعه ما<i
                                                                data-feather="package"></i></a></li>
                                                        <li><a href="upcoming_projects.html">پروژه های آتی<i
                                                                data-feather="loader"></i></a></li>
                                                        <li><a href="create-collection.html">ایجاد مجموعه<i
                                                                data-feather="edit-3"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="login.html">ورود به سیستم <i data-feather="log-in"></i></a>
                                                        </li>
                                                        <li><a href="sign-up.html">ثبت نام <i
                                                                data-feather="user-plus"></i></a></li>
                                                        <li><a href="forget.html">فراموش کردن رمز عبور <i data-feather="key"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="author.html">نویسنده/نمایه(کاربر) <i
                                                                    data-feather="user"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="connect.html">به کیف پول متصل شوید <i
                                                                    data-feather="pocket"></i></a>
                                                        </li>
                                                        <li><a href="privacy-policy.html">خط مشی رازداری <i
                                                                data-feather="file-text"></i></a></li>
                                                        <li><a href="newsletter.html">خبرنامه<i
                                                                data-feather="book-open"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">

                                                        <li><a href="product.html">محصول<i data-feather="folder"></i></a>
                                                        </li>
                                                        <li><a href="product-details.html">جزئیات محصول <i
                                                                data-feather="layout"></i></a></li>
                                                        <li><a href="ranking.html">رتبه‌بندی NFT<i
                                                                data-feather="trending-up"></i></a></li>
                                                        <li><a href="edit-profile.html">ویرایش نمایه<i
                                                                data-feather="edit"></i></a></li>
                                                        <li><a href="blog-details.html">جزئیات وبلاگ<i
                                                                data-feather="book-open"></i></a></li>
                                                        <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a>
                                                        </li>
                                                        <li><a href="forum-community.html">تالار گفتمان و انجمن<i
                                                                data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="about.html">درباره ما<i data-feather="award"></i></a>
                                                        </li>
                                                        <li><a href="contact.html">تماس با <i data-feather="headphones"></i></a>
                                                        </li>
                                                        <li><a href="support.html">پشتیبانی/سؤالات متداول <i
                                                                data-feather="help-circle"></i></a></li>
                                                        <li><a href="terms-condition.html">شرایط و ضوابط <i
                                                                data-feather="list"></i></a></li>
                                                        <li><a href="coming-soon.html">به زودی <i
                                                                data-feather="clock"></i></a></li>
                                                        <li><a href="maintenance.html">نگهداری <i
                                                                data-feather="cpu"></i></a></li>
                                                        <li><a href="forum-details.html">جزئیات انجمن <i
                                                                data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a class="down" href="blog.html">وبلاگ</a>
                                    <ul class="submenu">
                                        <li><a href="blog-single-col.html">وبلاگ تک ستون<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-col-two.html">وبلاگ دو ستون<i class="feather-fast-forward"></i></a>
                                        </li>
                                        <li><a href="blog-col-three.html">وبلاگ سه ستون<i
                                                class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog.html">وبلاگ چهار ستون<i class="feather-fast-forward"></i></a>
                                        </li>
                                        <li><a href="blog-details.html">جزئیات وبلاگ<i class="feather-fast-forward"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">تماس</a></li>
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option d-none d-lg-block">
                        <form class="search-form-wrapper" action="#">
                            <input type="search" placeholder="اینجا بگردید" aria-label="جستجو">
                            <div class="search-icon">
                                <button><i class="feather-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="setting-option rn-icon-list d-block d-lg-none">
                        <div class="icon-box search-mobile-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                        <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                            <div class="rn-search-mobile form-group">
                                <button type="submit" class="search-button"><i class="feather-search"></i></button>
                                <input type="text" placeholder="جستجو ...">
                            </div>
                        </form>
                    </div>

                    <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                        <div class="icon-box">
                            <a id="connectbtn" class="btn btn-primary-alta btn-small" href="connect.html">اتصال به کیف پول</a>
                        </div>
                    </div>

                    <div class="setting-option rn-icon-list notification-badge">
                        <div class="icon-box">
                            <a href="activity.html"><i class="feather-bell"></i><span class="badge">6</span></a>
                        </div>
                    </div>

                    <div class="header_admin" id="header_admin">
                        <div class="setting-option rn-icon-list user-account">
                            <div class="icon-box">
                                <a href="author.html"><img src="{% static 'assets/images/icons/boy-avater.png' %}" alt="Images"></a>
                                <div class="rn-dropdown">
                                    <div class="rn-inner-top">
                                        <h4 class="title"><a href="product-details.html">کریستوفر ویلیام</a></h4>
                                        <span><a href="#">تنظیم نام نمایش</a></span>
                                    </div>
                                    <div class="rn-product-inner">
                                        <ul class="product-list">
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img
                                                            src="{% static 'assets/images/portfolio/portfolio-07.jpg' %}"
                                                            alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">موجودی</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img
                                                            src="{% static 'assets/images/portfolio/portfolio-01.jpg' %}"
                                                            alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">موجودی</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-fund-button mt--20 pb--20">
                                        <a class="btn btn-primary-alta w-100" href="connect.html">وجوه بیشتر خود را اضافه کنید</a>
                                    </div>
                                    <ul class="list-inner">
                                        <li><a href="author.html">نمایه من</a></li>
                                        <li><a href="edit-profile.html">ویرایش نمایه</a></li>
                                        <li><a href="connect.html">مدیریت وجوه</a></li>
                                        <li><a href="login.html">خروج از سیستم</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="setting-option mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                    <img class="sun-image" src="{% static 'assets/images/icons/sun-01.svg' %}" alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="{% static 'assets/images/icons/vector.svg' %}" alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </header>
<!-- End Header Area -->

{% include 'includes/_mobile_popup.html' %}