{% load static %}

<div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo logo-custom-css">
                    <a class="logo-light" href="index.html"><img src="{% static 'assets/images/logo/logo-white.png' %}" alt="nft-logo"></a>
                    <a class="logo-dark" href="index.html"><img src="{% static 'assets/images/logo/logo-dark.png' %}" alt="nft-logo"></a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
            <nav>
                <!-- Start Mainmanu Nav -->
                <ul class="mainmenu">
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">صفحه اصلی</a>
                        <ul class="submenu">
                            <li><a href="index.html">صفحه اصلی - 01 <i class="feather-home"></i></a></li>
                            <li><a href="index-two.html">صفحه اصلی - 02<i class="feather-home"></i></a></li>
                            <li><a href="index-three.html">صفحه اصلی - 03<i class="feather-home"></i></a></li>
                            <li><a href="index-four.html">صفحه اصلی - 04<i class="feather-home"></i></a></li>
                            <li><a href="index-five.html">صفحه اصلی - 05<i class="feather-home"></i></a></li>
                            <li><a href="index-six.html">صفحه اصلی - 06<i class="feather-home"></i></a></li>
                            <li><a href="index-seven.html">صفحه اصلی - 07<i class="feather-home"></i></a></li>
                            <li><a href="index-eight.html">صفحه اصلی - 08<i class="feather-home"></i></a></li>
                            <li><a href="index-nine.html">صفحه اصلی - 09<i class="feather-home"></i></a></li>
                            <li><a href="index-ten.html">صفحه اصلی - 10<i class="feather-home"></i></a></li>
                            <li><a href="index-eleven.html">صفحه اصلی - 11<i class="feather-home"></i></a></li>
                            <li><a href="index-twelve.html">صفحه اصلی - 12<i class="feather-home"></i></a></li>
                            <li><a href="index-thirteen.html">صفحه اصلی - 13<i class="feather-home"></i></a></li>
                            <li><a href="index-fourteen.html">صفحه اصلی - 14<i class="feather-home"></i></a></li>
                            <li><a href="index-fifteen.html">صفحه اصلی - 15<i class="feather-home"></i></a></li>
                            <li><a href="index-sixteen.html">صفحه اصلی - 16<i class="feather-home"></i></a></li>
                            <li><a href="index-seventeen.html">صفحه اصلی - 17<i class="feather-home"></i></a></li>
                            <li><a href="index-eighteen.html">صفحه اصلی - 18<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">درباره</a>
                    </li>
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">کاوش</a>
                        <ul class="submenu">
                            <li><a href="explore-one.html">مثال فیلتر<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-two.html">کاوش ایزوتوپ<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-three.html">مثال اسلایدر<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-four.html">مثال ساده<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-five.html">کاوش مکان پیشنهادی<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-six.html">ارائه پیشنهاد با فیلتر<i class="feather-fast-forward"></i></a>
                            </li>
                            <li><a href="explore-seven.html">ارائه مناقصه با ایزوتوپ<i class="feather-fast-forward"></i></a>
                            </li>
                            <li><a href="explore-eight.html">ارائه پیشنهاد با چرخ فلک<i class="feather-fast-forward"></i></a>
                            </li>
                            <li><a href="explore-list-style.html">فهرست سبک کاوش<i class="feather-fast-forward"></i></a>
                            </li>
                            <li><a href="explore-list-column-two.html">کاوش فهرست 2 ستون<i
                                    class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-left-filter.html">مثال فیلتر چپ<i
                                    class="feather-fast-forward"></i></a></li>
                            <li><a class="live-expo" href="explore-live.html">کاوش زنده</a></li>
                            <li><a class="live-expo" href="explore-live-two.html">چرخ فلک کاوش زنده</a></li>
                            <li><a class="live-expo" href="explore-live-three.html">درخواست دادن زنده</a></li>
                        </ul>
                    </li>
                    <li class="with-megamenu">
                        <a class="nav-link its_new" href="#">صفحات</a>
                        <div class="rn-megamenu">
                            <div class="wrapper">
                                <div class="row row--0">
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="create.html">ایجاد NFT<i data-feather="file-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="upload-variants.html">نوع آپلود<i data-feather="layers"></i></a>
                                            </li>
                                            <li><a href="activity.html">فعالیت<i data-feather="activity"></i></a></li>
                                            <li>
                                                <a href="creator.html">سازندگان<i data-feather="users"></i></a>
                                            </li>
                                            <li><a href="collection.html">مجموعه ما<i data-feather="package"></i></a>
                                            </li>
                                            <li><a href="upcoming_projects.html">پروژه های آتی<i
                                                    data-feather="loader"></i></a></li>
                                            <li><a href="create-collection.html">ایجاد مجموعه<i
                                                    data-feather="edit-3"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="login.html">ورود به سیستم <i data-feather="log-in"></i></a></li>
                                            <li><a href="sign-up.html">ثبت نام <i data-feather="user-plus"></i></a>
                                            </li>
                                            <li><a href="forget.html">فراموش کردن رمز عبور <i data-feather="key"></i></a></li>
                                            <li>
                                                <a href="author.html">نویسنده/نمایه(کاربر) <i data-feather="user"></i></a>
                                            </li>
                                            <li>
                                                <a href="connect.html">اتصال به کیف پول <i data-feather="pocket"></i></a>
                                            </li>
                                            <li><a href="privacy-policy.html">خط مشی رازداری <i
                                                    data-feather="file-text"></i></a></li>
                                            <li><a href="newsletter.html">خبرنامه<i data-feather="book-open"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">

                                            <li><a href="product.html">محصول<i data-feather="folder"></i></a></li>
                                            <li><a href="product-details.html">جزئیات محصول <i data-feather="layout"></i></a>
                                            </li>
                                            <li><a href="ranking.html">رتبه‌بندی NFT<i data-feather="trending-up"></i></a>
                                            </li>
                                            <li><a href="blog.html">اخبار ما <i data-feather="message-square"></i></a></li>
                                            <li><a href="blog-details.html">جزئیات وبلاگ<i data-feather="book-open"></i></a>
                                            </li>
                                            <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a></li>
                                            <li><a href="forum-community.html">تالار گفتمان و انجمن<i
                                                    data-feather="message-circle"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="about.html">درباره ما<i data-feather="award"></i></a></li>
                                            <li><a href="contact.html">تماس با <i data-feather="headphones"></i></a></li>
                                            <li><a href="support.html">پشتیبانی/سؤالات متداول <i data-feather="help-circle"></i></a>
                                            </li>
                                            <li><a href="terms-condition.html">شرایط و ضوابط <i data-feather="list"></i></a>
                                            </li>
                                            <li><a href="coming-soon.html">به زودی <i data-feather="clock"></i></a></li>
                                            <li><a href="maintenance.html">نگهداری <i data-feather="cpu"></i></a></li>
                                            <li><a href="forum-details.html">جزئیات انجمن <i
                                                    data-feather="message-circle"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-droupdown has-menu-child-item">
                        <a class="nav-link its_new" href="blog.html">وبلاگ</a>
                        <ul class="submenu">
                            <li><a href="blog-single-col.html">وبلاگ تک ستون<i class="feather-fast-forward"></i></a>
                            </li>
                            <li><a href="blog-col-two.html">وبلاگ دو ستون<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog-col-three.html">وبلاگ سه ستون<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog.html">وبلاگ چهار ستون<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog-details.html">جزئیات وبلاگ<i class="feather-fast-forward"></i></a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">تماس</a></li>
                </ul>
                <!-- End Mainmanu Nav -->
            </nav>
        </div>
    </div>